/* form  {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
} */

/* form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.main{ 
    gap: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

input {
    width: 50%;

}

button {
    width: 5vw;
}

.edit, .preview {
    width: 50%;
} */